*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}

.form-campo{
    margin-bottom: 16px;
}
.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form{
    max-width: 360px;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

form button{
    max-width: 120px;
}